accelerate==1.8.1
datasets==3.6.0
deepspeed==0.15.4
einops==0.8.1
flash_attn==2.8.0.post2
huggingface-hub==0.33.1
liger_kernel==0.4.2
ninja==1.11.1.4
numpy==1.26.4
pandas==2.3.0
peft==0.10.0
pillow==11.2.1
pip==25.1.1
progressbar==2.5
qwen-vl-utils==0.0.11
regex==2024.11.6
requests==2.32.4
safetensors==0.5.3
setuptools==75.8.2
tokenizers==0.21.2
torch==2.7.1
torchvision==0.22.1
tqdm==4.67.1
transformers==4.49.0
wandb==0.16.6